@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@font-face {
	font-family: Poppins-Regular;
	src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
	font-family: Poppins-Bold;
	src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
/*
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}


	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}





	body {
		-webkit-text-size-adjust: none;
	}





/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scroll;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #fff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	html {
		font-size: 13pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 1280px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			html {
				font-size: 12pt;
			}

		}

	body {
		background-color: #fff;
		color: rgba(0, 0, 0, 0.5);
	}

	body, input, select, textarea {
		font-family: "Poppins", sans-serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}

	a {
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2rem 0;
	}

		p:last-child {
			margin: 0;
		}

		p.special {
			text-transform: uppercase;
			font-size: .75rem;
			font-weight: 300;
			margin: 0 0 .5rem 0;
			padding: 0 0 1rem 0;
			letter-spacing: .25rem;
		}

			p.special:after {
				content: '';
				position: absolute;
				margin: auto;
				right: 0;
				bottom: 0;
				left: 0;
				width: 50%;
				height: 1px;
				background-color: rgba(0, 0, 0, 0.125);
			}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		line-height: 1.5;
		margin: 0 0 1rem 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.75rem;
	}

	h3 {
		font-size: 1.35rem;
	}

	h4 {
		font-size: 1.1rem;
	}

	h5 {
		font-size: 0.9rem;
	}

	h6 {
		font-size: 0.7rem;
	}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 2rem 0;
	}

		hr.major {
			margin: 3rem 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea {
		color: #1e1f23;
	}

	a {
		color: #54a354;
	}

	strong, b {
		color: #1e1f23;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #1e1f23;
	}

	blockquote {
		border-left-color: rgba(144, 144, 144, 0.25);
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-color: rgba(144, 144, 144, 0.25);
	}

	hr {
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}

/*TABLE*/

	#table {
		 width: 100%;
		border-collapse: collapse;
	    overflow: hidden;
        border-radius: 10px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		text-align: center;
		
	  }
	  
th,
td {
	padding: 12px 15px;

background-color: rgba(255, 255, 255, 0.2);
color: #fff;
}
thead th {
	
    background: rgba(50, 51, 51, 0);
  }
   tbody tr:hover {
	background-color: rgba(255, 255, 255, 0.3);
  }
  #table tbody td {
	position: relative;
	
  }

	
  
  .container {
	position: relative;
	max-width: 100%;
	padding-left: auto;
	padding-right: auto;
	font-family: Poppins-Regular;
	padding-top: 7%;
}
.row{
	padding-top: 10%;
	font-family: Poppins-Regular;
	padding-left: auto;
	padding-right:auto;
  
  }


/* Image */

.image {
	display: inline-block;
	position: relative;
}

	.image.flush {
		margin: 0 !important;
	}

	.image img {
		display: block;
	}

	.image.left, .image.right {
		max-width: 50%;
	}

		.image.left img, .image.right img {
			width: 100%;
		}

	.image.left {
		float: left;
		margin: 0 1rem 1rem 0;
		top: 0.25rem;
	}

	.image.right {
		float: right;
		margin: 0 0 1rem 1rem;
		top: 0.25rem;
	}

	.image.fit {
		display: block;
		margin: 0 0 2rem 0;
		width: 100%;
	}

		.image.fit img {
			width: 100%;
		}

	.image.main {
		display: block;
		margin: 0 0 3rem 0;
		width: 100%;
	}

		.image.main img {
			width: 100%;
		}




/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}


/* List icons*/



		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1rem 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2rem;
				}

	



/* Header */

	body {
		background-color: #1e1f23;
		padding-top: 8rem;
	}

		body.is-loading:after {
			visibility: hidden;
			opacity: 0;
		}

		body:after {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			-moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
			-webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
			-ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
			transition: opacity 1.5s ease-in-out, visibility 1.5s;
			content: '';
			background-image: url(../../images/bg.jpg);
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: fixed;
			display: block;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: -1;
			visibility: visible;
			opacity: 1;
		}

			@media screen and (max-width: 980px) {

				body:after {
					background-attachment: scroll;
					background-position: top;
					background-size: 100%;
				}

			}

	#header {
		color: #a6a6a6;
		cursor: default;
		position: relative;
		text-align: center;
		z-index: 10001;
	}

		#header > .logo {
			margin: 0 0 4rem 0;
			padding: 0;
		}

			#header > .logo a {
				font-size: 4rem;
				font-weight: 700;
				color: #FFF;
				text-decoration: none;
				line-height: 1rem;
			}

			#header > .logo span {
				font-weight: 300;
				font-size: 1rem;
				display: block;
				color: rgba(255, 255, 255, 0.65);
			}

	@media screen and (max-width: 1280px) {

		body {
			padding-top: 6rem;
			background-attachment: scroll;
			background-size: auto;
			background-position: top;
		}

	}

	@media screen and (max-width: 736px) {

		#header > .logo {
			margin: 0 0 2rem 0;
		}

			#header > .logo a {
				font-size: 3rem;
			}

	}

/* Main */

	#main > .inner {
		margin: 0 auto;
		width: 80rem;
		max-width: 90%;
		margin-bottom: 2rem;
		background: rgba(255, 255, 255, 0.95);
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		border-radius: 4px;
	}

	@media screen and (max-width: 980px) {

		#main .image {
			width: 100%;
			min-width: 100%;
			float: none;
			margin: 0 0 2rem 0;
		}

			#main .image img {
				width: 100%;
			}

	}

	.wrapper > header {
		text-align: center;
		background: #FFF;
		padding: 2rem;
		margin: 0;
	}

		.wrapper > header h2 {
			position: relative;
			padding-bottom: .75rem;
		}

			.wrapper > header h2:after {
				content: '';
				position: absolute;
				margin: auto;
				right: 0;
				bottom: 0;
				left: 0;
				width: 10%;
				height: 1px;
				background-color: rgba(0, 0, 0, 0.125);
			}

		.wrapper > header p {
			text-transform: uppercase;
			font-weight: 300;
			font-size: .8rem;
			letter-spacing: .25rem;
			margin: 0;
		}

		.wrapper > header.special {
			padding: 4rem 2rem;
		}

			@media screen and (max-width: 980px) {

				.wrapper > header.special {
					padding: 3rem 2rem;
				}

			}

		@media screen and (max-width: 736px) {

			.wrapper > header {
				padding: 1.5rem;
			}

				.wrapper > header h2 {
					font-size: 1.5rem;
				}

					.wrapper > header h2:after {
						width: 50%;
					}

		}

	.wrapper.style1 .content {
		padding: 6rem;
	}

		@media screen and (max-width: 1280px) {

			.wrapper.style1 .content {
				padding: 4rem;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper.style1 .content {
				padding: 2rem;
			}

		}

	.wrapper.style2 {
		background: #1e1f23;
		padding: 6rem;
	}

		.wrapper.style2 header {
			background: #121315;
			border-radius: 4px 4px 0 0;
		}

			.wrapper.style2 header h2 {
				color: #FFF;
			}

				.wrapper.style2 header h2:after {
					background-color: rgba(255, 255, 255, 0.125);
				}

			.wrapper.style2 header p {
				color: rgba(255, 255, 255, 0.25);
			}

		@media screen and (max-width: 1280px) {

			.wrapper.style2 {
				padding: 4rem;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper.style2 {
				padding: 2rem;
			}

		}

/* Footer */

	#footer {
		padding: 2rem 0 0.1rem 0 ;
		text-align: center;
	}

		#footer a {
			color: rgba(255, 255, 255, 0.75);
		}

			#footer a:hover {
				color: #FFF;
			}

		#footer .copyright {
			color: #bbb;
			font-size: 0.9rem;
			margin: 0 0 2rem 0;
			padding: 0 1rem;
			text-align: center;
		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 1rem 0 0.1rem 0 ;
			}

		}
/* Containers */



div.align {
	width: auto;
	position: relative;
	text-align: center;
	border: 3px solid #ffffffc7;
	border-radius: 10px;
   margin-top: 10px;
  }

  @media screen and (max-width:500px){
	table ,thead{
	  display: none;
	}
	table ,tbody,tr,td{
	 display: none;
	}
	.align
	{
	  display: block !important
	}
  }
  @media screen and (min-width:500px)
  {
	.align{
	  display: none;

	}
	
  }

  #snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
  }

  .snowflake {
    position: fixed;
    background-color: #CCC;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }